
*{
    margin: O;
    padding: ;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a{
    display: inline-block;
    background: lightslategray;
    height: 20rem;
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
}